
/CodeContractsSample/_ReSharper.ContractsSample
/CodeContractsSample/ContractsSample/bin
/CodeContractsSample/ContractsSample/obj
/StructureMap-ILoveAOP/_ReSharper.ILoveAOP
/StructureMap-ILoveAOP/ILoveAOP/obj
/StructureMap-ILoveAOP/ILoveAOP/bin
/StructureMap-ILoveAOP/ILoveAOP.Services/obj
/StructureMap-ILoveAOP/ILoveAOP.Services/bin
/StructureMap-ILoveAOP/ILoveAOP/App_Data/example.log